 /*
    Copyright 2010 Jamie Love

    This file is part of the "R-Node Client".

    R-Node Client is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    R-Node Client is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with R-Node Client.  If not, see <http://www.gnu.org/licenses/>.
  */
#banner {
    background: url('../assets/banner.png') no-repeat;
    width: 800;
    height: 120;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

#console {
    height: 300;
    overflow: auto;
    background: #efefef;
    font-size 9px;
}

#entrydiv {
    padding: 5px;
    margin-top: 10px;
    background: #efefef;
}
#entryfield {
    width: 100%;
    background: white;
    border: 1px solid #888888;
    font-weight: 1.1em;
}

#outerHolder {
    width: 800;
    text-align: left;

    /* For floatin footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140;
}

div.console-snippet {
    background: #afafaf;
    margin-top: 1px;
}

.r-response {
    margin-left: 15px;
    padding-left: 2px;
    background: #efefef;
}
pre.r-request {
    margin-left: 15px;
    padding-left: 2px;
    background: #efefef;
}

pre.r-response:hover {
    background: white;
}
div.r-response:hover {
    background: white;
}

pre.r-request:hover {
    background: white;
}
div.r-response table {
    font-size: 12px;
    font-family: sans-serif;
    border: solid 1px black;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.r-response td { padding: 5px; text-align: right; }
div.r-response th { font-weight: bold; padding: 5px; }
div.r-response tr { padding: 5px; }

#mainCarousel {
    height: 100;
    background: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.carousel-item {
    height: 100;
    width: 100;
    border: black 1px solid;
    margin-left: 4px;
    margin-right: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#carouselwrapper {
    height: 130;
    text-align: left;
    padding: 5px;
}

div.push {
    height: 140;
}

h1 {
    font-family: trebuchet ms;
}

/* Override some shjs css to force background colors */
pre.sh_sourceCode {
    background: #efefef;
}

#loginbox {
    width: 320;
    height: 100;
}
