#banner {
    background: url('../assets/banner.png') no-repeat;
    width: 800;
    height: 120;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

#console {
    height: 300;
    overflow: auto;
    background: #efefef;
    font-size 9px;
}

#entrydiv {
    padding: 5px;
    margin-top: 10px;
    background: #efefef;
}
#entryfield {
    width: 100%;
    background: white;
    border: 1px solid #888888;
    font-weight: 1.1em;
}

#outerHolder {
    width: 800;
    text-align: left;

    /* For floatin footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140;
}

div.console-snippet {
    background: #afafaf;
    margin-top: 1px;
}

pre.r-response {
    margin-left: 15px;
    padding-left: 2px;
    background: #efefef;
}
pre.r-request {
    margin-left: 15px;
    padding-left: 2px;
    background: #efefef;
}

pre.r-response:hover {
    background: white;
}

pre.r-request:hover {
    background: white;
}

#mainCarousel {
    height: 100;
    background: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.carousel-item {
    height: 100;
    width: 100;
    border: black 1px solid;
    margin-left: 4px;
    margin-right: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#carouselwrapper {
    height: 130;
    text-align: left;
    padding: 5px;
}

div.push {
    height: 140;
}

h1 {
    font-family: trebuchet ms;
}
